[submodule "roles/ntp"]
	path = roles/ntp
	url = git@github.com:resmo/ansible-role-ntp.git
[submodule "roles/base"]
	path = roles/base
	url = git@github.com:balanced-cookbooks/ansible-base.git
[submodule "roles/fluentd2"]
	path = roles/fluentd
	url = git@github.com:balanced-cookbooks/ansible-fluentd.git
[submodule "roles/td-agent"]
	path = roles/td-agent
	url = https://github.com/kawasakitoshiya/ansible-td-agent.git
[submodule "infras/global"]
	path = infras/global
	url = git@github.com:balanced-cookbooks/infra-global.git
[submodule "roles/newrelic"]
	path = roles/newrelic
	url = https://github.com/sivel/ansible-newrelic.git
